body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.search-result-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.search-result-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.search-result-container p {
    font-size: 1.2em;
    color: #333;
    word-wrap: break-word;
}
